@font-face {
    font-family: "Golos";
    src: url(../Golos_Text/GolosText-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Golos";
    src: url(../Golos_Text/GolosText-Regular.ttf);
    font-weight: 400;
}